body {
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid orange;
  display: flex;
}

.header-logo {
  width: 100px;
  height: 100px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}

.header-name {
  margin-top: 20px;
  color: black;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 3px solid orange;
}

.footer h3 {
  text-align: center;
  margin-top: 40px;
}

.content {
  width: 100%;
}

.content-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content-row-item {
  width: 24%;
  height: px;
  margin-top: 35px;
}

.content-row-item:hover {
  transform: scale(1.08);
  transition: 0.7s;
}

.content-row-item-picture {
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.content-row:last-child {
  margin-bottom: 35px;
}

.item-1 {
  width: 100%;
  background-image: url("img/item-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-2 {
  width: 100%;
  background-image: url("img/item-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-3 {
  width: 100%;
  background-image: url("img/item-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-4 {
  width: 100%;
  background-image: url("img/item-4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-5 {
  width: 100%;
  background-image: url("img/item-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-6 {
  width: 100%;
  background-image: url("img/item-6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-7 {
  width: 100%;
  background-image: url("img/item-7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-8 {
  width: 100%;
  background-image: url("img/item-8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-9 {
  width: 100%;
  background-image: url("img/item-9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-10 {
  width: 100%;
  background-image: url("img/item-10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-11 {
  width: 100%;
  background-image: url("img/item-11.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-12 {
  width: 100%;
  background-image: url("img/item-12.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-page {
  width: 100%;
  display: flex;
}

.content-leftside {
  width: 30%;
  height: 450px;
}

.content-leftside-picture {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.content-rightside {
  width: 100%;
  height: 550px;
}

.content-rightside-title {
  margin-left: 30px;
}

.content-rightside-title h1 {
  font-weight: 1;
}

.content-rightside-genres {
  margin-left: 30px;
  display: flex;
  color: #353535;
}

.content-rightside-agelimit {
  background-color: orange;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
}

.content-rightside-country {
  margin-left: 30px;
  margin-top: 5px;
  color: #353535;
}

.content-rightside-actors {
  margin-left: 30px;
  margin-top: 5px;
  color: #353535;
}

.content-rightside-text {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.content-rightside-sessiontime {
  margin-top: 100px;
  display: flex;
}

.disabled {
  pointer-events: none;
  opacity: .5;
  cursor: default;
}

.content-rightside-sessiontime a {
  font-size: 35px;
  color: black;
  display: inline-block;
  position: relative;
  margin-left: 30px;
}

.content-rightside-sessiontime a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.content-rightside-sessiontime a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}

.content-rightside-sessiontime a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content-button {
  margin: 0 auto;
  width: 10%;
  margin-bottom: 50px;
}

.buy-button {
  padding: 10px;
  border-radius: 15px;
  background-color: orange;
  font-size: 20px;
  border-bottom: 4px solid #C18D0A;
  color: white;
  outline: none;
  width: 130px;
  visibility: hidden;
}

.content-hallscreen {
  width: 60%;
  border: 1px solid gray;
  background-color: gray;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
  margin-top: 50px;
  margin-bottom: 90px;
  border: 1px solid black;
}

.content-hallseats {
  width: 70%;
  margin: 0 auto;
  color: white;
}

.content-hallseats-row {
  margin-top: 5px;
  border: 1px solid black;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  display: flex;
}

.content-hallseats-row-seat {
  width: 30px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  background-color: #666666;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.content-hallseat-row {
  margin: 0 auto;
  display: flex;
}

.content-hallseats-row-seat:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.color {
  color: white;
  background-color: orange;
}

.booked {
  color: white;
  background-color: red;
}

/* .seat-1 {
  margin-left: 150px;
}

.seat-16,
.seat-33,
.seat-49 {
  margin-left: 109px;
}

.seat-66,
.seat-85,
.seat-104 {
  margin-left: 67px;
} */

.content-hallseats-row:last-child {
  margin-bottom: 50px;
}

.content-hint {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
}

.content-hint span {
  line-height: 35px;
}

.content-hint-chosenseat {
  width: 30px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  background-color: orange;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  margin-left: 30px;
}

.content-hint-bookedseat {
  width: 30px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  margin-left: 30px;
}

.content-hint-freeseat {
  width: 30px;
  height: 25px;
  margin: 5px;
  border: 1px solid black;
  background-color: #666666;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.main {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  margin-top: 90px;
}

.main-halls {
  margin-top: 50px;
}

.main-halls-hall {
  margin: 10px;
  color: orange;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

a .main-halls-hall:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media only screen and (max-device-width: 2600px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 925px;
    margin-top: 35px;
  }
  .content-rightside {
    width: 100%;
    height: 750px;
  }
  .content-rightside-title {
    margin-left: 30px;
    font-size: 30px;
  }
  .content-rightside-title h1 {
    font-weight: 1;
  }
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-agelimit {
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 30px;
  }
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
  }
  .content-leftside {
    width: 39%;
    height: 900px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-page {
    height: 1000px;
  }
}

@media only screen and (max-device-width: 2300px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 800px;
    margin-top: 35px;
  }
  .content-rightside {
    width: 100%;
    height: 750px;
  }
  .content-rightside-title {
    margin-left: 30px;
    font-size: 30px;
  }
  .content-rightside-title h1 {
    font-weight: 1;
  }
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-agelimit {
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 30px;
  }
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
  }
  .content-leftside {
    width: 39%;
    height: 900px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-page {
    height: 1000px;
  }
}

@media only screen and (max-device-width: 2000px) {
  .content-row:first-child {
    margin-top: 15px;
  }
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 700px;
    margin-top: 15px;
  }
  .content-leftside {
    width: 39%;
    height: 900px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-rightside {
    width: 100%;
    height: 750px;
  }
  .content-rightside-title {
    margin-left: 30px;
    font-size: 30px;
  }
  .content-rightside-title h1 {
    font-weight: 1;
  }
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-agelimit {
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 30px;
  }
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
  }
  .footer {
    width: 100%;
    height: 100px;
    border-top: 3px solid orange;
    margin-top: 50px;
  }
}

@media only screen and (max-device-width: 1700px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 600px;
    margin-top: 15px;
  }
  .content-rightside-title h1 {
    font-weight: 1;
    font-size: 37px;
  }
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 22px;
  }
  .content-rightside-agelimit {
    background-color: orange;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 22px;
  }
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 22px;
  }
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 22px;
  }
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
  }
  .content-leftside {
    width: 39%;
    height: 700px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-device-width: 1400px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 470px;
    margin-top: 15px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-leftside {
    width: 40%;
    height: 550px;
  }
  .content-rightside {
    width: 100%;
    height: 550px;
  }
  .content-rightside-title {
    margin-left: 30px;
  }
  .content-rightside-title h1 {
    font-weight: 1;
    font-size: 35px;
  }
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 20px;
  }
  .content-rightside-agelimit {
    background-color: orange;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 20px;
  }
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 20px;
  }
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 20px;
  }
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
  .content-rightside-sessiontime {
    margin-top: 100px;
  }
  .content-rightside-sessiontime a {
    font-size: 35px;
    color: black;
    display: inline-block;
    position: relative;
    margin-left: 30px;
  }
  .content-rightside-sessiontime a:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .content-rightside-sessiontime a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  .content-rightside-sessiontime a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media only screen and (max-device-width: 1100px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 350px;
    margin-top: 15px;
  }
  .content-leftside {
    width: 39%;
    height: 450px;
  }
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-device-width: 950px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 300px;
    margin-top: 35px;
  }
}

@media only screen and (max-device-width: 800px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 250px;
    margin-top: 35px;
  }
  .content-row-item {
    width: 24%;
    height: 350px;
    margin-top: 15px;
  }
  .content-leftside {
    width: 39%;
    height: 300px;
  }
}

@media only screen and (max-device-width: 600px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 200px;
    margin-top: 35px;
  }
}

@media only screen and (max-device-width: 450px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 150px;
    margin-top: 35px;
  }
}

@media only screen and (max-device-width: 300px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 100px;
    margin-top: 35px;
  }
  .content-leftside {
    width: 39%;
    height: 150px;
  }
}

@media only screen and (max-device-width: 150px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 50px;
    margin-top: 35px;
  }
}