body {
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color: #CFCFCD;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid black;
  display: flex;
}

.header-logo {
  width: 100px;
  height: 100px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}

.header-name {
  margin-top: 20px;
  color: black;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid black;
}

.footer h3 {
  text-align: center;
  margin-top: 40px;
}

.content {
  width: 100%;
}

.content-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content-row-item {
  width: 24%;
  height: 470px;
  margin-top: 35px;
}

.content-row-item-picture {
  height: 100%;
  margin: 0 auto;
}

.content-row:last-child {
  margin-bottom: 35px;
}

.item-1 {
  width: 100%;
  background-image: url("img/item-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-2 {
  width: 100%;
  background-image: url("img/item-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-3 {
  width: 100%;
  background-image: url("img/item-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-4 {
  width: 100%;
  background-image: url("img/item-4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-5 {
  width: 100%;
  background-image: url("img/item-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-6 {
  width: 100%;
  background-image: url("img/item-6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-7 {
  width: 100%;
  background-image: url("img/item-7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-8 {
  width: 100%;
  background-image: url("img/item-8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-9 {
  width: 100%;
  background-image: url("img/item-9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-10 {
  width: 100%;
  background-image: url("img/item-10.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-11 {
  width: 100%;
  background-image: url("img/item-11.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-12 {
  width: 100%;
  background-image: url("img/item-12.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-page {
  width: 100%;
  display: flex;
}


.content-leftside {
  width: 30%;
  height: 500px;
}

.content-leftside-picture {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.content-rightside {
  width: 100%;
  height: 550px;
}

.content-rightside-title {
  margin-left: 30px;
}

.content-rightside-title h1 {
  font-weight: 1;
}

.content-rightside-genres {
  margin-left: 30px;
  display: flex;
  color: #353535;
}

.content-rightside-agelimit {
  background-color: white;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
}

.content-rightside-country {
  margin-left: 30px;
  margin-top: 5px;
  color: #353535;
}

.content-rightside-actors {
  margin-left: 30px;
  margin-top: 5px;
  color: #353535;
}

.content-rightside-text {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}


@media only screen and (min-device-width: 1400px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-row-item {
    width: 24%;
    height: 550px;
    margin-top: 35px;
  }
}

@media only screen and (min-device-width: 1700px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 600px;
    margin-top: 35px;
  }
}

@media only screen and (min-device-width: 2000px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 800px;
    margin-top: 35px;
  }

  .content-leftside {
    width: 30%;
    height: 900px;
  }
  
  .content-leftside-picture {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-rightside {
    width: 100%;
    height: 750px;
  }
  
  .content-rightside-title {
    margin-left: 30px;
    font-size: 30px;
  }
  
  .content-rightside-title h1 {
    font-weight: 1;
  }
  
  .content-rightside-genres {
    margin-left: 30px;
    display: flex;
    color: #353535;
    font-size: 30px;
  }
  
  .content-rightside-agelimit {
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    padding: 3px;
    font-size: 30px;
  }
  
  .content-rightside-country {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  
  .content-rightside-actors {
    margin-left: 30px;
    margin-top: 5px;
    color: #353535;
    font-size: 30px;
  }
  
  .content-rightside-text {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;

  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid black;
    margin-top: 50px;
  }
}

@media only screen and (min-device-width: 2300px) {
  .content-row-item-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-row-item {
    width: 24%;
    height: 900px;
    margin-top: 35px;
  }
}